body {
	font-family: "Inter", sans-serif;
	font-size: 16px;
	color: #100c08;
}

.page-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 700px;
	margin: auto;
}

.content-container {
	background-color: #d2d1d1;
	margin: 32px;
	padding: 16px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.content-left {
	order: 0;
	width: 70%;
	padding-left: 16px
}

.content-right {
	order: 1;
	width: 30%;
	display: block;
	text-align: right;
	margin: auto;
	font-size: 32px;
}

h1 {
	text-align: center;
	font-weight: 900;
	font-size: 54px;
}

.label {
	font-size: 14px;
	font-weight: 400;
	font-variant-caps: small-caps;
	background-color:

}

.content-title {
	font-size: 28px;
	font-weight:700;

}

.content-further-info {
	font-size: 20px;
	font-weight: 500;
}

.rating {
	padding-right: 16px;
}